.bloccoor{

    width: fit-content;
    text-align: left;
    margin-right: auto;
}

.blocdom{

    width: fit-content;
    text-align: left;
    margin-right: auto;
}

.bigbox{
    width: fit-content;
}

