html{
    background-color: rgb(192, 189, 189);
}

#boximage{
    display: flex;
    justify-content: center;
    margin-top: 3%;

}

img{
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px #951D1D;

}


#saisie{
    background-color: #951D1D;
    box-sizing: border-box;
}